.env
# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
# sftp configuration file 
sftp-config.json 
# mypy 
.mypy_cache/ 
# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
# AWS User-specific
.idea/**/aws.xml
# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Django #
*.log
*.pot
*.pyc
__pycache__

# Backup files # 
*.bak 
