[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "3.13.1"
djangorestframework-simplejwt = "5.1.0"
django-rest-auth = "0.9.5"
django = "*"
django-environ = "*"
django-filter = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
tk = "*"

[dev-packages]

[requires]
python_version = "3.10"
